aiohttp==3.6.2
argon2-cffi==20.1.0
arrow==1.1.0
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.2
binaryornot==0.4.4
bleach==3.2.0
botbuilder-core==4.13.0
botbuilder-integration-aiohttp==4.13.0
botbuilder-schema==4.13.0
botframework-connector==4.13.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cookiecutter==1.7.0
cryptography==3.4.7
decorator==4.4.2
defusedxml==0.6.0
dominate==2.5.2
entrypoints==0.3
Flask==1.1.2
future==0.18.2
google==3.0.0
google-auth==1.22.0
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jinja2-time==0.2.0
jsonpickle==1.4.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
jupyterlab-widgets==1.0.0
kubernetes==11.0.0
MarkupSafe==1.1.1
mistune==0.8.4
msal==1.6.0
msrest==0.6.10
multidict==4.7.6
nbclient==0.5.0
nbconvert==6.0.3
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numpy==1.19.2
oauthlib==3.1.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pdf2image==1.14.0
pickleshare==0.7.5
pillow==8.2.0
poyo==0.5.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.1
PyJWT==1.7.1
pylogrus==0.4.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
pywin32==300
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
reportlab==3.5.52
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
Send2Trash==1.5.0
shortuuid==1.0.1
six==1.15.0
soupsieve==2.0.1
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==5.0.4
urllib3==1.25.10
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
xlrd==1.2.0
XlsxWriter==1.3.7
yarl==1.4.2
